.idea
.DS_Store
*.swp
thxl/thxl
external/external
reservation_thxl_go
reservation_thxl_go-*
reservation_thxl_go.iml
node_modules
node_modules/
bower_components/
package.json
webpack/
webpack.config.js
assets/stylesheets/sprites/
public/images/
public/stylesheets/
public/javascripts/
web/assets_gen.go
assets_map.json